body{
    overflow-x: hidden;
}

/*MENU*/

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    
}



.lista{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: -100%;
    align-items: center;
    height: calc(100vh - 150px);
}

#check{
    display: none;
}

#check:checked ~ .lista{
    
    top: 120px;
}


/*VIDEOS*/

.videos__seccion{
    width: 100%;
}

.videos{
    display: flex;
    overflow: hidden ;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    cursor: grab;
    scroll-behavior: smooth;
    max-height: 600px;
    
}

.videos__seccion__video{
    width: 100vw;
    height: 600px;
    object-fit: cover;
    
}

.botones{
    position: absolute;
    top: 20%; 
    display: flex;
}

.videos__video--next{
    right: 5%;
}

.videos__video--prev{
    left: 5%;
    
}

.videos__seccion__presentacion{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
    transform: translateY(-20rem);
    left: 10%;
    width: 70%;
    gap: 50px;
    
}

video{
    padding: 0;
    margin: 0;
}

/*Cards*/
.contenedor__productos{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
    
}


.productos{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.productos__titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #6f6c49;
}

.productos__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: auto;
    border: 5px solid #cfca92;
    border-radius: 10%;
    overflow: hidden;
}

.productos__card__header{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #6f6c49;
}

.productos__card__img{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}

.producto__card__titulo{
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    width: 50%;
    text-align: center;
}

.producto__card__precio{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.productos__modificadores{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    top: 20px;
    gap: 2rem;
    right: 20px;
    cursor: pointer;
}


/*NOSOTROS*/

.nosotros{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.nosotros__presentacion{
    width: 100vw;
}

.nosotros__presentacion__imagen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    object-fit:cover;
    object-position: bottom;
    height: 400px;
}

.nosotros__presentacion__titulo{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px #000; 
    position: relative;
    top: 21rem;
    justify-content: center;
    height: 0;

}

.nosotros__contenedor{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0;    
}


.nosotros__contenedor__descripcion{
    font-size: 1.5rem;
    margin: 1rem 2rem;
    text-indent: 20px;
    font-weight: 400;
    color: #6f6c49;
    
}


/*Contacto*/
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 2rem;    
}

.contactos__titulo{
    font-size: 1.7rem;
    font-weight: bolder;
    color: #cfca92;
}

.contactos__contenido__redes{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.contactos__contenido__redes__red{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.contactos__contenido__redes__red h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: #cfca92;
}


footer{
    background-color: #fff;
}

footer h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    color: #6f6c49;
}

@media (min-width: 700px){
    .productos__card{
        width: 40%;
    }

    .videos__seccion__presentacion__titulo{
        font-size: 2.5rem;
    }

    .videos__seccion__presentacion__parrafo{
        font-size: 1.5rem;
    }
}

@media (min-width: 1080px) {
    /*Menu*/
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

   

    .menu__telefono{
        display: none;
    }

    .menu__img{
        margin-left: 5rem;
    }

    .lista{
        flex-direction: row;
        padding: 0%;
        height: auto;
        top: auto;
        justify-content: space-between; 
        right: 4rem;       
    }




    /*Videos*/
    .videos__seccion__video{
        height: 800px;
        
    }

    .videos__seccion__presentacion{
        transform: translateY(-35rem);
    }

    .videos__seccion__presentacion__titulo{
        font-size: 3rem;
    }

    .videos__seccion__presentacion__parrafo{
        font-size: 2rem;
    }


    /*Productos*/
    .productos__card{
        width: 20%;
    }

    /*Nosotros*/
    .nosotros__presentacion__titulo{
        top: 18rem;
        font-size: 3rem;
    }


    
}


